<!-- importo de los partials las vistas parciales que quiero que se repitan en todas mis views -->
<%- include('./partials/_head.ejs') %> 
<%- include('./partials/_navbar.ejs') %> 

<!-- con un forEach itero todo el JSON parseado y ejecuto lo que esta dentro del callback tantas veces como objetos haya dentro del JSON -->
   
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre del lugar</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% lugares.forEach(lugar => { %>
                <tr class="table-active">
                    <th scope="row"><%= lugar.id %></th>
                     <td><a href="/read/<%= lugar.id %>"><%= lugar.name %></a></td>
                    <td><%= lugar.description %></td>
                    <td> <a href="/read/<%= lugar.id %> "class="btn btn-secondary">SHOW ALL</a>
                    <td> <a href="/edit/<%= lugar.id %> "class="btn btn-primary">EDIT</a>
                    <form action="/read/<%= lugar.id %>?_method=delete" method="post">
                        <button type="submit" value="delete" class="btn btn-danger">DELETE</button>
                        </form></td>
                  </tr>
                  <% }) %>
            </tbody>
        </table>
  
    

<%- include('./partials/_footer.ejs') %> 