<%- include('./partials/_head.ejs') %> 
<%- include('./partials/_navbar.ejs') %> 

<!-- <h1>Aquí se muestra el detalle del item elegido para ver</h1>
<h2>Tendra un boton de edit y uno de eliminar</h2> -->
<!-- Aqui voy a generar una vista llamando al objeto que traigo desde el controller y que coincide con la ruta parametrizada -->

<% if (id != null || id != undefined ) { %>
  <div class="card mb-3" style="margin: 20px">
    <h3 class="card-header"><%= lugar.name %></h3>
    <div class="card-body">
      <h5 class="card-title"><%= lugar.description %></h5>
      <!-- <h6 class="card-subtitle text-muted">ID: <%= lugar.id %></h6> -->
    </div>
     <img src="/img/<%= lugar.img %>" class="d-block user-select-none" width="100%" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <div class="card-body">
      <p class="card-text"><%= lugar.imgEpigrafe %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Estado: <%= lugar.status %></li>
      <li class="list-group-item">Tipo de lugar: <%= lugar.type %></li>
    </ul>
    <div class="card-body">
      <a href="/edit/<%= id %> " class="btn btn-primary">Edit</a>
      <form action="/read/<%= id %>?_method=delete" method="post">
        <input type="submit" class="btn btn-danger" value="Delete">
      </form>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>

<% } else { %> 
<h3>No se ha seleccionado ningun elemento</h3>
<% } %> 

<%- include('./partials/_footer.ejs') %> 